@import url("https://fonts.googleapis.com/css?family=Comfortaa|Quicksand");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #261423; }

#welcome-section, #welcome-section .info-box, nav, nav a, #about, #about article, #projects, .panel article, .panel > *, #contact article, footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

a {
  text-decoration: none; }

a:focus {
  outline: 0; }

.main-heading {
  text-align: center;
  letter-spacing: 10px;
  font-family: "Comfortaa", cursive;
  padding: 10px; }

section {
  margin-top: 75px; }

#viewport {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #261423 100%);
  background: -webkit-linear-gradient(top, #000000 0%, #261423 100%);
  background: linear-gradient(to bottom, #000000 0%, #261423 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }

#world {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -256px;
  height: 512px;
  width: 512px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#world div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.cloudBase {
  height: 20px;
  left: 256px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 256px;
  width: 20px; }

.cloudLayer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out; }

#welcome-section {
  position: absolute;
  width: 100%;
  height: 100vh; }
  #welcome-section .info-box {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #261423;
    padding-top: 20px;
    line-height: 1.7em;
    background: #f2f6f8;
    background: -moz-linear-gradient(45deg, #f2f6f8 0%, rgba(216, 225, 231, 0.75) 50%, rgba(181, 198, 208, 0.75) 51%, rgba(224, 239, 249, 0.5) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #f2f6f8), color-stop(50%, rgba(216, 225, 231, 0.75)), color-stop(51%, rgba(181, 198, 208, 0.75)), color-stop(100%, rgba(224, 239, 249, 0.5)));
    background: -webkit-linear-gradient(45deg, #f2f6f8 0%, rgba(216, 225, 231, 0.75) 50%, rgba(181, 198, 208, 0.75) 51%, rgba(224, 239, 249, 0.5) 100%);
    background: -o-linear-gradient(45deg, #f2f6f8 0%, rgba(216, 225, 231, 0.75) 50%, rgba(181, 198, 208, 0.75) 51%, rgba(224, 239, 249, 0.5) 100%);
    background: -ms-linear-gradient(45deg, #f2f6f8 0%, rgba(216, 225, 231, 0.75) 50%, rgba(181, 198, 208, 0.75) 51%, rgba(224, 239, 249, 0.5) 100%);
    background: linear-gradient(45deg, #f2f6f8 0%, rgba(216, 225, 231, 0.75) 50%, rgba(181, 198, 208, 0.75) 51%, rgba(224, 239, 249, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f6f8, endColorstr=rgba(224, 239, 249, 0.5));
    border: 1px solid white;
    border-image-source: linear-gradient(#b5c6d0, white);
    border-image-slice: 20;
    -webkit-box-shadow: 0 10px 19px -2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 10px 19px -2px rgba(0, 0, 0, 0.28);
    box-shadow: 0 10px 19px -2px rgba(0, 0, 0, 0.28); }
    @media screen and (min-width: 650px) {
      #welcome-section .info-box {
        width: 450px; } }
    #welcome-section .info-box svg {
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      #welcome-section .info-box svg:focus {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        outline: 0; }
    #welcome-section .info-box h1 {
      font-size: 1.1em;
      font-weight: normal;
      font-family: "Comfortaa", cursive;
      padding-bottom: 10px; }
    #welcome-section .info-box h2 {
      letter-spacing: 15px;
      font-family: "Comfortaa", cursive;
      text-transform: uppercase;
      font-size: 1em; }

#welcome-section .info-box a:last-child {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }

@-moz-keyframes floating {
  0% {
    -moz-transform: translateY(0%); }
  50% {
    -moz-transform: translateY(8%); }
  100% {
    -moz-transform: translateY(0%); } }

nav, main {
  position: relative;
  top: 100vh; }

nav {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  background: #261423;
  padding: 8px 10px;
  height: 65px; }
  @media screen and (min-width: 650px) {
    nav {
      padding: 5px 7px; } }
  nav a {
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: #bab0cc;
    font-size: 16px;
    height: 65px; }
    @media screen and (min-width: 650px) {
      nav a {
        margin-right: 25px;
        margin-left: 25px; } }
    nav a p {
      opacity: 0;
      position: absolute;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    nav a svg {
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      nav a svg:focus {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        outline: 0; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.sticky + main {
  padding-top: 60px; }

#about {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #about article {
    max-width: 800px;
    margin-top: 15px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #about article h2 {
      font-family: "Comfortaa", cursive;
      letter-spacing: 10px; }
    #about article p {
      text-align: justify;
      padding: 2% 5%; }

#projects {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 1200px; }
  @media screen and (min-width: 650px) {
    #projects {
      height: 1000px; } }
  @media screen and (min-width: 1150px) {
    #projects {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 600px; } }

.panel {
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transition: flex 0.3s ease-out;
  -moz-transition: flex 0.3s ease-out;
  -ms-transition: flex 0.3s ease-out;
  -o-transition: flex 0.3s ease-out;
  transition: flex 0.3s ease-out;
  width: 100%;
  height: auto;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center; }
  @media screen and (min-width: 1150px) {
    .panel {
      height: 100%; } }
  .panel img {
    width: 80%;
    max-width: 450px; }
  .panel h3 {
    transition: 0.4s ease-out;
    text-transform: uppercase;
    font-family: "Comfortaa", cursive;
    letter-spacing: 6px;
    font-size: 0.9em;
    padding: 63px 10px 0 10px; }
  .panel article {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding: 2% 5%; }
    .panel article .project-info {
      width: 100%;
      font-size: 0.8em;
      font-style: italic; }
    .panel article .description {
      margin-top: 5px;
      -webkit-box-flex: 100%;
      -moz-box-flex: 100%;
      -webkit-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      font-size: 0.9em;
      max-width: 700px;
      text-align: justify; }
    .panel article .buttons {
      -webkit-box-flex: 100%;
      -moz-box-flex: 100%;
      -webkit-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      margin: 30px 10px; }
      .panel article .buttons a {
        font-size: 0.8em;
        max-width: 150px;
        padding: 15px 25px;
        margin-left: 10px;
        background: #261423;
        color: white;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .panel article .buttons a:hover, .panel article .buttons a:focus {
          background: #802565;
          outline: 0; }

.panel:nth-child(5n+0) {
  background: #70667e; }
  .panel:nth-child(5n+0):hover {
    background: #beb7c8;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.panel:nth-child(5n+1) {
  background: #698ab7; }
  .panel:nth-child(5n+1):hover {
    background: #a3bada;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.panel:nth-child(5n+2) {
  background: #7a6ab6; }
  .panel:nth-child(5n+2):hover {
    background: #aea2d8;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.panel:nth-child(5n+3) {
  background: #875892; }
  .panel:nth-child(5n+3):hover {
    background: #bc95c6;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.panel:nth-child(5n+4) {
  background: #864273; }
  .panel:nth-child(5n+4):hover {
    background: #b083a3;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.panel.open {
  flex: 7; }

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 20% 40% 40%; }

.panel.openActive > *:first-child {
  padding-top: 30px; }
  @media screen and (min-width: 1150px) {
    .panel.openActive > *:first-child {
      padding-top: 70px; } }

.panel > *:last-child {
  -webkit-transform: translateX(250%);
  -moz-transform: translateX(250%);
  -ms-transform: translateX(250%);
  -o-transform: translateX(250%);
  transform: translateX(250%); }
  @media screen and (min-width: 1150px) {
    .panel > *:last-child {
      -webkit-transform: translateY(250%);
      -moz-transform: translateY(250%);
      -ms-transform: translateY(250%);
      -o-transform: translateY(250%);
      transform: translateY(250%); } }

.panel.openActive > *:last-child {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
  @media screen and (min-width: 1150px) {
    .panel.openActive > *:last-child {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); } }

/*===========CONTACT & FOOTER====================*/
#contact {
  height: 300px; }
  #contact h2 {
    font-family: "Comfortaa", cursive;
    letter-spacing: 10px;
    text-align: center; }
  #contact article {
    position: relative;
    bottom: -40px;
    z-index: 50;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: #bab0cc;
    height: 250px; }
    @media screen and (min-width: 450px) {
      #contact article {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; } }
    @media screen and (min-width: 650px) {
      #contact article {
        width: 65%; } }
    @media screen and (min-width: 1000px) {
      #contact article {
        width: 50%; } }
    #contact article p {
      letter-spacing: 3px; }
    #contact article div {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    #contact article .emial-button {
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      background: #261423;
      color: white;
      padding: 17px 25px; }
      #contact article .emial-button:hover, #contact article .emial-button:focus {
        background: #802565;
        outline: 0; }

footer {
  z-index: 20;
  background: #261423;
  color: #bab0cc;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  font-size: 0.8em; }
  footer a {
    color: #bab0cc;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    footer a:hover, footer a:focus {
      color: white;
      text-decoration: underline;
      outline: 0; }
