@import url('https://fonts.googleapis.com/css?family=Comfortaa|Quicksand');
@import "mixins.scss";

// My variables
$font-main: 'Quicksand', sans-serif;
$font-heading: 'Comfortaa', cursive;
$light-apricot: #bab0cc;
$macaroni: #F6C28B;
$copper-red: #CE6C47;
$cadet-blue: #5296A5;
$sky-blue: #82DDF0;
$pink: #802565;
$brown: #261423;
$standart-padding: 2% 5%;
$small-padding: 1% 2%;
$big-padding: 5% 7%;
$comfortaa: 'Comfortaa', cursive;

// GENERAL
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  font-size: 20px;
  color: $brown;
}

%flexbox {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

.main-heading {
  text-align: center;
  letter-spacing: 10px;
  font-family: $font-heading;
  padding: 10px;
}

section {
  margin-top: 75px;
}

//HEADER WITH 3D STARS
#viewport {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  @include background-grad;
}

#world {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -256px;
  height: 512px;
  width: 512px;
  @include perspective;
}

#world div {
  @include perspective;
}

.cloudBase {
  height: 20px;
  left: 256px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 256px;
  width: 20px;
}

.cloudLayer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  @include transition(opacity .5s ease-out);
}

//table with name and contacts
#welcome-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  @extend %flexbox;
  .info-box {
    @extend %flexbox;
    @include flex-direction(column);
    text-align: center;
    width: 100%;
    color: $brown;
    padding-top: 20px;
    line-height: 1.7em;
    @include linear-gradient(rgba(242,246,248,1), rgba(216,225,231,0.75), rgba(181,198,208,0.75), rgba(224,239,249,0.5));
    border: 1px solid white;
    border-image-source: linear-gradient(#b5c6d0, white);
    border-image-slice: 20;
    @include box-shadow;
    @media screen and (min-width: 650px) {
      width: 450px;
    }
    svg {
      @include transition(all 0.3s linear);
      &:focus {
        @include scale(1.1);
        outline: 0;
      }
    }
    h1 {
      font-size: 1.1em;
      font-weight: normal;
      font-family: $comfortaa;
      padding-bottom: 10px;
    }
    h2 {
      letter-spacing: 15px;
      font-family: $comfortaa;
      text-transform: uppercase;
      font-size: 1em;
    }
    a:last-child {
      @extend %floating;
    }
  }
}

%floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {transform: translateY(0%);}
	50% {transform: translateY(8%);}
	100% {transform: translateY(0%);}
}

@-webkit-keyframes floating {
	0% {-webkit-transform: translateY(0%);}
	50% {-webkit-transform: translateY(8%);}
	100% {-webkit-transform: translateY(0%);}
}

@-moz-keyframes floating {
	0% {-moz-transform: translateY(0%);}
	50% {-moz-transform: translateY(8%);}
	100% {-moz-transform: translateY(0%);}
}

//NAVIGATION & MAIN
nav, main {
  position: relative;
  top: 100vh;
}

nav {
  @extend %flexbox;
  @include flex-direction(row);
  width: 100%;
  background: $brown;
  padding: 8px 10px;
  height: 65px;
  @media screen and (min-width: 650px) {
    padding: 5px 7px;
  }
  a {
    @extend %flexbox;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: $light-apricot;
    font-size: 16px;
    height: 65px;
    @media screen and (min-width: 650px) {
      margin-right: 25px;
      margin-left: 25px;
    }
    p {
      opacity: 0;
      position: absolute;
      @include transition(all 0.3s linear);
    }
    svg {
      @include transition(all 0.3s linear);
      &:focus {
        @include scale(1.1);
        outline: 0;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky + main {
  padding-top: 60px;
}

//ABOUT
#about {
  @extend %flexbox;
  @include flex-direction(column);
  article {
    max-width: 800px;
    margin-top: 15px;
    @extend %flexbox;
    @include flex-direction(column);
    h2 {
      font-family: $font-heading;
      letter-spacing: 10px;
    }
    p {
      text-align: justify;
      padding: $standart-padding;
    }
  }
}

//GALLERY
#projects {
  @extend %flexbox;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  width: 100%;
  height: 1200px;
  @media screen and (min-width: 650px) {
    height: 1000px;
  }
  @media screen and (min-width: 1150px) {
    @include flex-direction(row);
    height: 600px;
  }
}

.panel {
  overflow: hidden;
  @include transition(all 0.3s linear);
  @include transition(flex 0.3s ease-out);
  width: 100%;
  height: auto;
  flex: 1;
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-direction(column);
  @include align-items(center);
  text-align: center;
  @media screen and (min-width: 1150px) {
    height: 100%;
  }
  img {
    width: 80%;
    max-width: 450px;
  }
  h3 {
    transition: 0.4s ease-out;
    text-transform: uppercase;
    font-family: $comfortaa;
    letter-spacing: 6px;
    font-size: 0.9em;
    padding: 63px 10px 0 10px;
  }
  article {
    @extend %flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    text-align: center;
    padding: $standart-padding;
    .project-info {
      width: 100%;
      font-size: 0.8em;
      font-style: italic;
    }
    .description {
      margin-top: 5px;
      @include flex(100%);
      font-size: 0.9em;
      max-width: 700px;
      text-align: justify;
    }
    .buttons {
      @include flex(100%);
      margin: 30px 10px;
      a {
        font-size: 0.8em;
        max-width: 150px;
        padding: 15px 25px;
        margin-left: 10px;
        background: $brown;
        color: white;
        @include transition(all 0.3s linear);
        &:hover,
        &:focus {
          background: $pink;
          outline: 0;
        }
      }
    }
  }
}

.panel:nth-child(5n+0) {
  background: #70667e;
  &:hover {
    background: #beb7c8;
    @include transition(all 0.3s linear);
  }
}
.panel:nth-child(5n+1) {
  background: #698ab7;
  &:hover {
    background: #a3bada;
    @include transition(all 0.3s linear);
  }
}
.panel:nth-child(5n+2) {
  background: #7a6ab6;
  &:hover {
    background: #aea2d8;
    @include transition(all 0.3s linear);
  }
}
.panel:nth-child(5n+3) {
  background: #875892;
  &:hover {
    background: #bc95c6;
    @include transition(all 0.3s linear);
  }
}
.panel:nth-child(5n+4) {
  background: #864273;
  &:hover {
    background: #b083a3;
    @include transition(all 0.3s linear);
  }
}

.panel.open {
  flex: 7;
}

.panel > * {
  margin:0;
  width: 100%;
  transition: transform 0.5s;
  flex: 20% 40% 40%;
  @extend %flexbox;
}

.panel.openActive > *:first-child {
  padding-top: 30px;
  @media screen and (min-width: 1150px) {
    padding-top: 70px;
  }
}
.panel > *:last-child {
  @include transform(translateX(250%));
  @media screen and (min-width: 1150px) {
    @include transform(translateY(250%));
  }
}
.panel.openActive > *:last-child {
  @include transform(translateX(0));
  @media screen and (min-width: 1150px) {
    @include transform (translateY(0));
  }
}

/*===========CONTACT & FOOTER====================*/
#contact {
  height: 300px;
  h2 {
    font-family: $font-heading;
    letter-spacing: 10px;
    text-align: center;
  }
  article {
    position: relative;
    bottom: -40px;
    z-index: 50;
    @extend %flexbox;
    @include flex-direction(column);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: $light-apricot;
    height: 250px;
    @media screen and (min-width: 450px) {
      @include flex-direction(row);
    }
    @media screen and (min-width: 650px) {
      width: 65%;
    }
    @media screen and (min-width:1000px) {
      width: 50%;
    }
    p {
      letter-spacing: 3px;
    }
    div {
      @include flex(1);
    }
    .emial-button {
      @include transition(all 0.3s linear);
      background: $brown;
      color: white;
      padding: 17px 25px;
      &:hover,
      &:focus {
        background: $pink;
        outline: 0;
      }
    }
  }
}

footer {
  z-index: 20;
  background: $brown;
  color: $light-apricot;
  @extend %flexbox;
  @include flex-direction(column);
  height: 200px;
  font-size: 0.8em;
  a {
    color: $light-apricot;
    @include transition(all 0.3s linear);
    &:hover,
    &:focus {
      color: white;
      text-decoration: underline;
      outline: 0;
    }
  }
}
